FIREBASE_API_KEY=AIzaSyAKpMG--FZIncY2uiq-iVuOmWaaQ0JOyCI
FIREBASE_AUTH_DOMAIN=padelclub-26d57.firebaseapp.com
FIREBASE_PROJECT_ID=padelclub-26d57
FIREBASE_STORAGE_BUCKET=padelclub-26d57.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=114033415453
FIREBASE_APP_ID=1:114033415453:web:e7ab111f657e181b74bdf4
FIREBASE_MEASUREMENT_ID=G-3EP8QHCZF4

SMS_PROVIDER_API_KEY=
SMS_PROVIDER_SENDER_NUMBER=8879961503
SMS_CONFIRMATION_ENDPOINT=

WHATSAPP_PROVIDER_API_KEY=
WHATSAPP_PROVIDER_SENDER_NUMBER=8879961503
WHATSAPP_CONFIRMATION_ENDPOINT=



